{% extends 'base.html' %}
{% block content %}

<h1> Secrets</h1>

<form method = 'POST'>
    {{form.hidden_tag() }}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_='form-control') }}

        {% for err in field.errors %}
        <span class = 'form-text text-danger'> {{err}}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type = 'submit'> Add Secrets</button>
</form>

<ul>
    {% for secret in secrets %}
    <div>
        <div class = "card my-4">
            <h5 class = "card-title text-info"> {{secret.user.username}}</h5>
            <p class = 'card-text'>
                {{secret.text}}
            </p>
            <div class = "card-body">
        <li> 
            <!-- part 6 -->
            <b>{{secret.user.username}}</b> - {{secret.text}} 
            {% if session['user_username'] == secret.user_username %} 
            <!-- This is specifically to show that only the logged in user can delete a tweet -->
            <form style = 'display:inline' action = '/secrets/{{secret.id}}'
            method = 'POST'>
                <button class = 'btn btn-sm btn-danger'>X</button>
            </form>
            {% endif %}
        </li>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}